# Catalog Searches Tutorial

`lksearch` enables you to search through the catalogs associated with each mission, and Gaia. You can query:

- The Kepler Input Catalog
- The Ecliptic Plane Input Catalog
- The TESS Input Catalog
- Gaia EDR3.

`lksearch` will propagate the proper motion for you. Below are examples of each query.

In [1]:
from lksearch.catalog import query_EPIC, query_KIC, query_TIC, query_gaia
from astropy.coordinates import SkyCoord
from astropy.time import Time
import astropy.units as u

In [4]:
c = SkyCoord.from_name('Kepler-10')
query_KIC(c)

                     RA        Dec  Separation  Relative_Flux     Kepmag
ID
KIC 11904151  285.67938  50.241299    0.000000       1.000000  10.961000
KIC 11904160  285.68076  50.242493    5.345214       0.006644  16.405001

By default, the catalog will query with an epoch of that is the default for the catalog. You can set the `epoch` keyword to a date in order to get `RA` and `Dec` at that date, given the proper motion.

In [5]:
c = SkyCoord.from_name('Kepler-10')
query_KIC(c, epoch=Time.now())

                     RA        Dec  Separation  Relative_Flux     Kepmag
ID
KIC 11904151  285.67938  50.241299    0.000000       1.000000  10.961000
KIC 11904160  285.68076  50.242493    5.345214       0.006644  16.405001

You can also pass a radius for your query. If you query each catalog directly you can set your query radius in units of pixels, otherwise you can use arcseconds.

In [6]:
c = SkyCoord.from_name('Kepler-10')
query_KIC(c, epoch=Time.now(), radius=3*u.pixel)

                     RA        Dec  Separation  Relative_Flux     Kepmag
ID
KIC 11904151  285.67938  50.241299    0.000000       1.000000  10.961000
KIC 11904160  285.68076  50.242493    5.345214       0.006644  16.405001
KIC 11904165  285.68317  50.241207    8.732390       0.002660  17.399000
KIC 11904162  285.68124  50.243916   10.348793       0.001576  17.966999

You can query TIC

In [7]:
c = SkyCoord.from_name('Pi Men c')
query_TIC(c, epoch=Time.now(), radius=2*u.pixel)

                      RA        Dec  Separation  Relative_Flux  TESSmag
ID
TIC 261139071  84.257651 -80.466560    0.000000       1.000000   13.995
TIC 261136679  84.304008 -80.461959   32.228005    3597.491211    5.105

EPIC

In [8]:
c = SkyCoord.from_name('K2-18')
query_EPIC(c)

                       RA       Dec  Separation  Relative_Flux   K2mag
ID
EPIC 201912552  172.56046  7.588391         0.0            1.0  12.473

And Gaia in the same ways

In [18]:
c = SkyCoord.from_name('Kepler-10')
query_gaia(c, epoch=Time.now(), radius=40*u.arcsecond)

,RA,Dec,Separation,Relative_Flux,Gmag,BPmag,RPmag
ID,,,,,,,
Gaia DR3 2132155017099178624,285.679354,50.241405,0.000000,1.000000,10.920031,11.253505,10.418263
Gaia DR3 2132155051458917632,285.680214,50.249942,30.797921,0.001691,17.849485,18.209782,17.317846
Gaia DR3 2132155051458918144,285.685922,50.249918,34.176508,0.005578,16.553818,17.213984,15.778805

Optionally, you can return the output of the search as an `astropy.coordinates.SkyCoord` object

In [29]:
c = SkyCoord.from_name('Kepler-10')
query_gaia(c, epoch=Time.now(), radius=40*u.arcsecond, return_skycoord=True)

<SkyCoord (ICRS): (ra, dec, distance) in (deg, deg, pc)
    [(285.67935361, 50.24140459,  186.22667509),
     (285.68021359, 50.24994187, 7132.66761763),
     (285.68592163, 50.24991835, 1124.73287589)]
 (pm_ra_cosdec, pm_dec, radial_velocity) in (mas / yr, mas / yr, km / s)
    [(-18.48303822, 41.38198293, 7.53946778e-05),
     ( -1.51899991, -1.20300012, 5.27826594e-06),
     (  9.40200273,  5.81399558, 2.70894621e-05)]>