# Catalog Searches Tutorial

`lksearch` enables you to search through the catalogs associated with each mission, and Gaia. You can query:

- The Kepler Input Catalog
- The Ecliptic Plane Input Catalog
- The TESS Input Catalog
- Gaia EDR3.

`lksearch` will propagate the proper motion for you. Below are examples of each query.

In [1]:
from lksearch.catalog import query_EPIC, query_KIC, query_TIC, query_gaia
from astropy.coordinates import SkyCoord
from astropy.time import Time
import astropy.units as u

Before we search we need a sky position to search. `lksearch` catalog queries use `astropy`'s `SkyCoord` as an input. We can either make one ourselves with an RA and Dec, or we can use the built in `from_name` method.

In [13]:
c = SkyCoord.from_name("Kepler-10")

Now we have a position we want to query, we can query each catalog. For example, here is the query for KIC

In [14]:
query_KIC(c)

,RA,Dec,Separation,Relative_Flux,Kepmag,Teff,logg
ID,,,,,,,
KIC 11904151,285.67938,50.241299,0.000000,1.000000,10.961000,5491,4.467
KIC 11904160,285.68076,50.242493,5.345214,0.006644,16.405001,<NA>,NaN

By default, the catalog will query with an epoch of that is the default for the catalog. You can set the `epoch` keyword to a date in order to get `RA` and `Dec` at that date, given the proper motion.

In [15]:
query_KIC(c, epoch=Time.now())

,RA,Dec,Separation,Relative_Flux,Kepmag,Teff,logg
ID,,,,,,,
KIC 11904151,285.67938,50.241299,0.000000,1.000000,10.961000,5491,4.467
KIC 11904160,285.68076,50.242493,5.345214,0.006644,16.405001,<NA>,NaN

You can also pass a radius for your query. If you query each catalog directly you can set your query radius in units of pixels, otherwise you can use arcseconds.

In [16]:
query_KIC(c, epoch=Time.now(), radius=3 * u.pixel)

,RA,Dec,Separation,Relative_Flux,Kepmag,Teff,logg
ID,,,,,,,
KIC 11904151,285.67938,50.241299,0.000000,1.000000,10.961000,5491,4.467
KIC 11904160,285.68076,50.242493,5.345214,0.006644,16.405001,<NA>,NaN
KIC 11904165,285.68317,50.241207,8.732390,0.002660,17.399000,<NA>,NaN
KIC 11904162,285.68124,50.243916,10.348793,0.001576,17.966999,<NA>,NaN

You can query TIC

In [17]:
query_TIC(c, epoch=Time.now(), radius=2 * u.pixel)

,RA,Dec,Separation,Relative_Flux,TESSmag,Mass,Rad,Teff,logg
ID,,,,,,,,,
TIC 1717218060,NaN,NaN,NaN,1.000000,17.403000,1.030,1.055,5771.0,4.4043
TIC 377780790,285.679225,50.241589,NaN,589.385986,10.477000,1.017,1.090,5706.0,4.3707
TIC 377780779,285.685984,50.249944,NaN,4.157191,15.856000,0.700,0.805,4467.0,4.4721
TIC 1717218059,NaN,NaN,NaN,0.643872,17.881001,1.070,0.810,5895.0,4.6506

EPIC (Note Kepler-10 isn't inside EPIC, because it's outside the ecliptic plane!)

In [21]:
query_EPIC(c)

Empty DataFrame
Columns: [RA, Dec, Separation, Relative_Flux, K2mag, Mass, Rad, Teff, logg]
Index: []

And Gaia in the same ways

In [22]:
query_gaia(c, epoch=Time.now(), radius=40 * u.arcsecond)

,RA,Dec,Separation,Relative_Flux,BPmag,Gmag,RPmag,Teff,logg
ID,,,,,,,,,
Gaia DR3 2132155017099178624,285.679353,50.241405,0.000000,1.000000,11.253505,10.920031,10.418263,5595.8,4.3544
Gaia DR3 2132155051458917632,285.680214,50.249942,30.797131,0.001691,18.209782,17.849485,17.317846,5424.7,4.6774
Gaia DR3 2132155051458918144,285.685922,50.249918,34.176135,0.005578,17.213984,16.553818,15.778805,NaN,NaN

Optionally, you can return the output of the search as an `astropy.coordinates.SkyCoord` object

In [23]:
query_gaia(c, epoch=Time.now(), radius=40 * u.arcsecond, return_skycoord=True)

<SkyCoord (ICRS): (ra, dec, distance) in (deg, deg, pc)
    [(285.67935346, 50.24140481,  186.22667509),
     (285.68021358, 50.24994186, 7132.66761763),
     (285.68592171, 50.24991838, 1124.73287589)]
 (pm_ra_cosdec, pm_dec, radial_velocity) in (mas / yr, mas / yr, km / s)
    [(-18.48303831, 41.38198289, 7.55624219e-05),
     ( -1.51899991, -1.20300012, 5.29000945e-06),
     (  9.40200274,  5.81399557, 2.71497329e-05)]>